services:
  engine:
    image: 'bshg/engine:0.0.2'
    container_name: 'library-engine'
    ports:
      - '2021:7071'
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - library-net
    volumes:
      - ./temp/engine/logs:/app/logs

  postgres:
    image: 'postgres:latest'
    container_name: 'library-postgres'
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - ./temp/postgres/data:/var/lib/postgresql/data
    networks:
      - library-net

  pgadmin4:
    image: dpage/pgadmin4
    container_name: 'library-pgadmin4'
    environment:
      - 'PGADMIN_DEFAULT_EMAIL=admin@library.com'
      - 'PGADMIN_DEFAULT_PASSWORD=123'
    ports:
      - '2023:80'
    networks:
      - library-net

  mail-dev:
    container_name: library-mail-dev
    networks:
      - library-net
    image: maildev/maildev
    ports:
      - '1080:1080'
      - '1025:1025'
    restart: unless-stopped

networks:
  library-net:
    name: library-net
    driver: bridge
    external: true
 
volumes:
  library-postgres-data: